<!doctype HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width:device-width, initial-scale:1.0">
		<meta name="author" content="Tobiasz Duliniec">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Cryptosite</title>
	</head>
	<body>
		<nav>
			<header>
				<h1>Ciphers</h1>
			</header>
			<a href="/Cesar">Ceasar cipher</a>
			<a href="/Vigenere">Vigenère cipher</a>
		</nav>
		<article>
			<header><h1>Cryptosite</h1></header>
			{% block main %}{% endblock %}
		</article>
	</body>
</html>