<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width:device-width, initial-scale:1.0">
		<meta name="author" content="Tobiasz Duliniec">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>Cryptosite</title>
		{% if request.path == "/Vigenere" %}<script src="skrypt.js" defer></script>{% endif %}
	</head>
	<body>
		<main>
			<nav>
				<header>
					<h1>Ciphers</h1>
				</header>
				{% if request.path == "/" %}<p><b>Main page</b></p>{% else %}<a href="/">Main page</a>{% endif %}
				{% if request.path == "/Ceasar" %}<p><b>Ceasar cipher</b></p>{% else %}<a href="/Ceasar">Ceasar cipher</a>{% endif %}
				{% if request.path == "/Vigenere" %}<p><b>Vigenère cipher</b></p>{% else %}<a href="/Vigenere">Vigenère cipher</a>{% endif %}
				{% if request.path == "/Bacon" %}<p><b>Bacon's cipher</b></p>{% else %}<a href="/Bacon">Bacon's cipher</a>{% endif %}
			</nav>
			<article>
				<header><h1>Cryptosite</h1></header>
				{% with messages = get_flashed_messages(with_categories = true) %}
					{% if messages %}
						<p id="{{messages[0][0]}}">{{messages[0][1]}}</p>
					{% endif %}
				{% endwith %}
				{% block main %}{% endblock %}
			</article>
		</main>
		<footer>
			<a href="https://github.com/Tobiasz-Duliniec/Cryptosite" target="_blank" rel="noreferrer noopener">Source code on GitHub.</a>
		</footer>
	</body>
</html>