{% extends "base.html" %}
{% block main %}
	<header><h1>Ceasar cipher</h1></header>
	{% if result is defined %}
		<p>{{message}} encrypted with a shift of {{shift}} is {{result}}.</p>
	{% endif %}
	<form action="/Ceasar" method="POST">
		<label for="name">Message to encrypt/decrypt:</label>
		<input name="message" type="text" required>
		<label for="shift">Shift:</label>
		<input name="shift" type="number" required>
		<label for="action">Action:</label>
		<select name="action">
			<option value="encrypt">Encrypt</option>
			<option value="decrypt">Decrypt</option>
		</select>
		<input type="submit" value="Encrypt">
	</form>
{% endblock %}