{% extends "base.html" %}
{% block main %}
	{% if result is defined %}
		{{result}}
	{% endif %}
	<header><h1>Ceasar cipher</h1></header>
	<form action="/Ceasar" method="POST">
		<label for="name">Message to encrypt:</label>
		<input name="message" type="text" required>
		<label for="shift">Shift:</label>
		<input name="shift" type="number" required>
		<label for="action">Action:</label>
		<select name="action">
			<option value="encrypt">Encrypt</option>
			<option value="decrypt">Decrypt</option>
		</select>
		<input type="submit" value="Encrypt">
	</form>
{% endblock %}