{% extends "base.html" %}
{% block main %}
	{% if result is defined %}
		{{result}}
	{% endif %}
	<form action="/Vigenere" method="POST">
		<label for="name">Message to encrypt:</label>
		<input name="message" type="text" required>
		<label for="key">Key:</label>
		<input name="key" type="text" required>
		<label for="action">Action:</label>
		<select name="action">
			<option value="encrypt">Encrypt</option>
			<option value="decrypt">Decrypt</option>
		</select>
		<input type="submit" value="Encrypt">
	</form>
{% endblock %}